{% extends "main.html" %}

{% block title %}
О сайте
{% endblock %}

{% block body %}

{% for category, message in  get_flashed_messages(with_categories=true) %}
    <spam class="{{ category }}">{{ message }}</spam>
{% endfor %}

<h2>О сайте</h2>
<p>Онлайн-нотариат - система для подписи документов нотариусом.</p>
<p>Обычный пользователь может отправить документ нотариусу на подпись, нотариус может эти документы подписать.</p>
<p>Расчетное задание по дисциплине "Криптографические методы защиты информации" на тему "Электронная подпись вслепую", выполнил студент группы А-13-21 Кирсанов В.Р.</p>

{% endblock %}