{% extends "main.html" %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}

{% for category, message in  get_flashed_messages(with_categories=true) %}
    <spam class="{{ category }}">{{ message }}</spam>
{% endfor %}

<p>Добро пожаловать, {{ user.username }}</p>

{% if user.id == 1 %}

<a href="/queue">Документы в очереди на подпись</a>

{% else %}

<a href="/send">Отправить документ на подпись</a>
<a href="/signed">Посмотреть подписанные документы</a>

{% endif %}

{% endblock %}