<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
        <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}"> -->
        {% block extracss %}
        {% endblock %}
    </head>
    <body>
        <div class="header">
            <h1>Онлайн-нотариус</h1>
        </div>
        <div class="main">
            {% block body %}
            {% endblock %}
        </div>
        <div class="navbar">
            <a href="/">На главную</a>
            <a href="/logout">Выйти</a>
            <a href="/about">О сайте</a>
            <a href="/settings">Настройки</a>
        </div>
    </body>
</html>